<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Page Example</title>
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	<style>
		.user-info p {
			display: inline-block;
			margin-right: 5px;
			margin-left: 20px;
		}

		.user-info span {
			display: inline-block;
		}

		.success {
			color: blue;
		}

		.error {
			color: red;
		}
	</style>
</head>

<body>

	<form id="AttendanceForm" th:action="@{/attendance/show}" method="POST">

		<input type="hidden" th:value="${targetYearMonth}" name="targetYearMonth">
		<input type="hidden" th:value="${selectedUserId}" name="selectedUserId">
		<input type="hidden" th:value="${user.id}" name="userId">

		<div class="container">
			<div class="user-info">
				<p>ユーザ名：</p><span th:text="${user.name}"></span>
				<p>ユーザID：</p><span name="userId" th:text="${user.id}"></span>
				<p th:if="${user.role != 'Manager'}">ステータス
				<p th:if="${myRequest != null}">
					<span th:if="${myRequest.status == 0}">未申請</span>
					<span th:if="${myRequest.status == 1}">承認待ち</span>
					<span th:if="${myRequest.status == 2}">承認済み</span>
					<span th:if="${myRequest.status == 3}">却下</span>
				</p>
				</p>
				<input type="hidden" name="userId" th:value="${user.id}">
			</div>
			<div class="success" th:if="${success}" th:text="${success}"></div>
			<div class="header">

				<div class="display-month">
					<label for="yearDropdown">表示年月：</label>
					<select id="yearDropdown" name="year">
						<option value="" th:disabled="${user.role == 'Manager'}">未選択</option>
						<option th:each="year : ${#numbers.sequence(2020, 2025)}" th:value="${year}" th:text="${year}"
							th:selected="${year == selectedYear}" th:disabled="${user.role == 'Manager'}"></option>
					</select>
					<label for="yearDropdown">年</label>
					<select id="monthDropdown" name="month">
						<option value="" th:disabled="${user.role == 'Manager'}">未選択</option>
						<option th:each="month : ${#numbers.sequence(1, 12)}" th:value="${month}" th:text="${month}"
							th:selected="${month == selectedMonth}" th:disabled="${user.role == 'Manager'}"></option>
					</select>
					<label for="monthDropdown">月</label>
					<div class="buttons" th:if="${user.role != 'Manager'}">
						<button type="submit" name="show">表示</button>
					</div>

				</div>

				<th:block th:if="${errorMessage}">
					<div class="d-flex flex-column">
						<span th:text="'*' + '&nbsp' + ${errorMessage}" class="help-inline error"></span>
					</div>
				</th:block>

				<div class="buttons">

					<button type="submit" name="dismissal" th:if="${user.role == 'Manager'}">却下</button>

					<button type="submit" name="permission" th:if="${user.role == 'Manager'}">承認</button>

					<button type="submit" name="approval" th:if="${user.role != 'Manager'}"
						th:disabled="${attendanceFlg != true || (myRequest != null && (myRequest.status == 1 || myRequest.status == 2))}">承認申請</button>

					<button type="submit" name="register" th:if="${user.role != 'Manager'}"
						th:disabled="${formList == null || (myRequest != null && (myRequest.status == 1 || myRequest.status == 2))}"
						onclick="return check()">登録</button>

				</div>


			</div>
			<div class="success" th:if="${approvalSuccess}" th:text="${approvalSuccess}"></div>
			<div class="success" th:if="${permission}" th:text="${permission}"></div>
			<div class="success" th:if="${dismissal}" th:text="${dismissal}"></div>
			<div class="error" th:if="${errorStartTime}" th:text="${errorStartTime}"></div>
			<div class="error" th:if="${errorEndTime}" th:text="${errorEndTime}"></div>
			<div class="error" th:if="${errorRemarks}" th:text="${errorRemarks}"></div>
			<div class="error" th:if="${errorRemarks2}" th:text="${errorRemarks2}"></div>
			<table class="approval-info" th:if="${user.role == 'Manager'}">

				<thead>
					<tr>
						<th>承認申請者</th>
						<th>申請対象年月</th>
						<th>申請日</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="reqList : ${attendanceReqList}">
						<td>
							<nav>
								<a
									th:href="@{/attendance/request(targetYearMonth=${reqList.targetYearMonth}, selectedUserId=${reqList.selectedUserId}, userId=${user.id})}">
									[[${reqList.name}]]
								</a>
							</nav>
						</td>
						<td th:text="${reqList.targetYearMonth}">申請対象年月の表示</td>
						<td th:text="${reqList.date}">申請日の表示</td>
						<th:block>

						</th:block>
					</tr>

				</tbody>



			</table>

			<table class="attendance-info">

				<thead th:if="${user.role != 'Manager'}">
					<tr>
						<th>日付</th>
						<th>曜日</th>
						<th>出勤状況</th>
						<th>出勤時間</th>
						<th>退勤時間</th>
						<th>備考</th>
					</tr>
				</thead>
				<tbody id="dateTable" th:if="${formList != null}">
					<tr th:each="form, iter : ${formList.attendanceForm}">

						<td th:text="${form.formattedDate}"></td>
						<input type="hidden" th:field="*{formList.attendanceForm[__${iter.index}__].formattedDate}"
							th:value="${form.formattedDate}">
						<td th:text="${form.formattedWeek}">dayOfWeek</td>
						<td>
							<select th:field="*{formList.attendanceForm[__${iter.index}__].status}"
								th:disabled="${(myRequest.status == 1 || myRequest.status == 2) || user.role == 'Manager'}">

								<option value="99" th:selected="${form.status == null || form.status == ''}">未選択
								</option>
								<option value="0" th:selected="${form.status == 0}">通常出勤</option>
								<option value="1" th:selected="${form.status == 1}">休日</option>
								<option value="2" th:selected="${form.status == 2}">祝日</option>
								<option value="3" th:selected="${form.status == 3}">遅刻</option>
								<option value="4" th:selected="${form.status == 4}">有給</option>
								<option value="5" th:selected="${form.status == 5}">欠勤</option>
								<option value="6" th:selected="${form.status == 6}">早退</option>
								<option value="7" th:selected="${form.status == 7}">時間外勤務</option>
								<option value="8" th:selected="${form.status == 8}">振替出勤</option>
								<option value="9" th:selected="${form.status == 9}">振替休日</option>
								<option value="10" th:selected="${form.status == 10}">代替出勤</option>
								<option value="11" th:selected="${form.status == 11}">代替休日</option>
							</select>
						</td>

						<td>
							<input type="text" th:field="*{formList.attendanceForm[__${iter.index}__].startTime}"
								th:value="${form.startTime}"
								th:disabled="${(myRequest.status == 1 || myRequest.status == 2) || user.role == 'Manager'}" />
						</td>

						<td>
							<input type="text" th:field="*{formList.attendanceForm[__${iter.index}__].endTime}"
								th:value="${form.endTime}"
								th:disabled="${(myRequest.status == 1 || myRequest.status == 2) || user.role == 'Manager'}" />
						</td>

						<td><input type="text" th:field="*{formList.attendanceForm[__${iter.index}__].remarks}"
								th:value="${form.remarks}"
								th:disabled="${(myRequest.status == 1 || myRequest.status == 2) || user.role == 'Manager'}" />
						</td>

						<th:block>
							<input type="hidden" th:field="*{formList.attendanceForm[__${iter.index}__].date}"
								th:value="${form.date}"
								th:disabled="${(myRequest.status == 1 || myRequest.status == 2) || user.role == 'Manager'}" />
						</th:block>

					</tr>
				</tbody>
			</table>
		</div>
	</form>
</body>


</html>