<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Page Example</title>
	<link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body>
	
	<div class="container">
		<div class="user-info">
				<span>ユーザ名：XXXXXXXXXXXXXXXXXXXX　　　　　　　　ユーザID：XXXXXXXXXXXXXXX</span>

			</div>
		<div class="header">
			
			
				<div class="display-month">
					<label for="display-month">表示年月：</label>
					<select id="yearDropdown"></select>
					<label for="yearDropdown">:年</label>
					<select id="monthDropdown"></select>
					<label for="monthDropdown">:月</label>
					<div class="buttons"><button>表示</button></div>
				</div>
			
			<div class="buttons">
				<button>却下</button>
				<button>承認</button>
				<button>承認申請</button>
				<button>登録</button>
			</div>
			
			
		</div>
		<table class="approval-info">
			<thead>
				<tr>
					<th>承認申請者</th>
					<th>申請対象年月</th>
					<th>申請日</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<nav>●●　××</nav>
					</td>
					<td>2024/5/1</td>
					<td>2024/5/30</td>
				</tr>
				<tr>
					<td>
						<nav>△△　▲▲</nav>
					</td>
					<td>2024/5/1</td>
					<td>2024/5/31</td>
				</tr>
			</tbody>
		</table>
		<table class="attendance-info">
			<thead>
				<tr>
					<th>日付</th>
					<th>曜日</th>
					<th>出勤状況</th>
					<th>出勤時間</th>
					<th>退勤時間</th>
					<th>備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>6/1</td>
					<td>土</td>
					<td>通常出勤</td>
					<td>○○：○○</td>
					<td>○○：○○</td>
					<td></td>
				</tr>
				<tr>
					<td>6/2</td>
					<td>日</td>
					<td>遅刻</td>
					<td>○○：○○</td>
					<td>○○：○○</td>
					<td>電車遅延のため</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var select = document.getElementById("yearDropdown");
			for (var year = 2000; year <= 2100; year++) {
				var option = document.createElement("option");
				option.value = year;
				option.text = year;
				select.appendChild(option);
			}
		});

		document.addEventListener("DOMContentLoaded", function () {
			var select = document.getElementById("monthDropdown");
			for (var month = 1; month <= 12; month++) {
				var option = document.createElement("option");
				option.value = month;
				option.text = month;
				select.appendChild(option);
			}
		});
	</script>

</body>

</html>