<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>指定年月入力フォーム</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>勤務表の指定年月</h1>
        
        <form action="/attendance" method="get">
            <label for="year">年:</label>
            <input type="text" id="year" name="year" th:value="${year}" />

            <label for="month">月:</label>
            <input type="text" id="month" name="month" th:value="${month}" />
            
            <button type="submit">表示</button>
        </form>
    </div>
</body>
</html>
