<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AttendanceMapper">

	<select id="findByYearAndMonth"
		resultType="com.example.demo.dto.AttendanceDto">
		SELECT
		t1.id AS Id,
		t1.user_id AS userId,
		t1.status,
		t1.date,
		t1.start_time AS startTime,
		t1.end_time AS endTime,
		t1.remarks
		FROM attendance t1
		WHERE		 
		YEAR(date) = #{year} AND MONTH(date) = #{month} AND user_id = #{userId};
	</select>

	<insert id="insertAttendance"
		parameterType="com.example.demo.dto.AttendanceDto">
		INSERT INTO attendance
		(
		id
		,user_id
		,status
		,date
		,start_date
		,end_time
		,remarks
		) VALUES (
		#{id}
		,#{userId}
		,#{status}
		,#{date}
		,#{startDate}
		,#{endTime}
		,#{remarks}
		)

	</insert>

	<delete id="deleteAttendance"
		parameterType="com.example.demo.dto.AttendanceDto">
		DELETE
		FROM attendance
		WHERE
		id = #{id}
<!--		YEAR(date) = #{year}-->
<!--		AND MONTH(date) = #{month};-->
	</delete>
	
	<select id="findAttendanceReq"
		resultType="com.example.demo.dto.MonthlyAttendanceReqDto">
		SELECT
		id AS Id,
		user_id AS userId,
		target_year_month AS targetYearMonth,
		date,
		is_approved AS status
		FROM monthly_attendance_req
	</select>

</mapper>
