<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AttendanceMapper">

	<select id="findByYearAndMonth"
		resultType="com.example.demo.dto.AttendanceDto">
		SELECT id AS Id,
		user_id AS userId, status, date, start_time AS startTime, end_time AS
		endTime, remarks FROM attendance WHERE YEAR(date) = #{year} AND
		MONTH(date) = #{month};
	</select>

	<insert id="insertAttendance"
		parameterType="com.example.demo.dto.AttendanceDto">
		INSERT INTO attendance
		(
		id
		,user_id
		,status
		,date
		,start_date
		,end_time
		,remarks
		) VALUES (
		#{id}
		,#{userId}
		,#{status}
		,#{date}
		,#{startDate}
		,#{endTime}
		,#{remarks}
		)

	</insert>

</mapper>
